
.news-detail{
    margin-bottom: 100px;
    margin-top: 50px;
    img{
        width: 100%;
    }
    .left-title{
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .left-caption{
        font-weight: 700;
        padding: 10px 0;

    }
    .left-date{
        font-size: 14px;
        color: #636363;
        padding-bottom: 10px;
        
    }
    .left-desc{
        font-size: 15px;
    }
    .right-item{
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }
    .item-more{
        padding-left: 10px;
        font-size: 14px;
        a{
            padding-bottom: 10px;
            display: block;
        }
    }
    .icon{
        padding-right: 10px;
    }
    .right-title{
        background: linear-gradient(to right,#db9f06,#e6c64b,#db9f06);
        padding: 20px;
        font-size: 20px;
        font-weight: 700;
        color: $white;
        width: 100%;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 64px;
            height: 64px;
            background-color: #ffffff;
            top: 0px;
            transform: rotate(45deg);
            right:-10%;
        }
    }
    .right-post{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        img{
            padding-right: 10px;
            width: 100px;
            height: 60px;
        }
        a{
            font-weight: 600;
            color: #636363;
        }
    }
}
@media screen and (max-width: 1023.98px) {
    .news-detail{
        margin-top: 50px;
    }
}
@media screen and (max-width: 576px) {
    .header-main{
        right: 0px;
        width: 100%;
    }
}
