.text-news{
    line-height: 1.5;
    text-align: justify;
    .text-title{
        padding-top: 20px;
    }
    p{
        padding-top: 20px;
    }
    .text-img{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}
.more{
    padding-top: 50px;
    .more-title{
        width: 100%;
        background: linear-gradient(to right,#db9f06,#e6c64b,#db9f06);
        padding: 15px;
        color: #fff;
        font-weight: 700;
        margin: 15px 0;
        position: relative;
        &::after{
            content: '';
            width: 40px;
            height: 40px;
            position: absolute;
            background-color: #fff;
            right: -25px;
            top: 5px;
            transform: rotate(45deg);
        }
    }
    img{
        width: 100%;

    }
    .more-caption{
        padding: 5px 0;
        font-weight: 600;
        a{
            color: $main-color-2;
        }
    }
    .breadcrumb-bg{
        padding: 0 100px;
    }
    
}
@media screen and (max-width: 576px) {
    .more{
        display: none;
    }
    .news-detail-right{
        margin-top: 20px;
    }
}
.nav-breadcrumb{
    padding-left: 85px;
}
