.breadcrumb{
    text-align:  start;
    padding: 12px 0px;
    font-size: 18px;
    background-color: rgb(150, 150, 150);
}
.news-detail{
    margin-bottom: 100px;
    margin-top: 50px;
    .left-item{
        position: relative;
        border-radius: 10px;
        padding: 10px;
        line-height: 1.6;
        border: 1px sienna solid;
        margin-bottom: 30px;
            img{
                width: 100%;
                border-radius: 5px;
            }
    }
    .left-title{
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .left-content{
        padding-bottom: 50px;
    }
    .left-button{
        position: absolute;
        padding: 10px 20px;
        background-color: $main-color;
        width: max-content;
        right: 0px;
        bottom: 0%;
        border-radius: 10px;
    }
    .right-title{
        background: linear-gradient(to right,#db9f06,#e6c64b,#db9f06);
        padding: 20px;
        font-size: 20px;
        font-weight: 700;
        color: $white;
        width: 100%;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 64px;
            height: 64px;
            background-color: #ffffff;
            top: 0px;
            transform: rotate(45deg);
            right:-10%;
        }
    }
    .right-post{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        img{
            padding-right: 10px;
            width: 100px;
            height: 60px;
        }
        a{
            font-weight: 600;
            color: #636363;
        }
    }
}
@media screen and (max-width: 1023.98px) {
    .news-detail{
        margin-top: 50px;
    }
}
@media screen and (max-width: 576px) {
    .header-main{
        right: 0px;
        width: 100%;
    }
}

